ESPNET_EN_MODEL=kan-bayashi/ljspeech_vits
ESPNET_JA_MODEL=kan-bayashi/jsut_full_band_vits_prosody
ESPNET_DEVICE=
ESPNET_OUTPUT_DIR=generated_audio
ESPNET_SPEED=1.0
ESPNET_NOISE_SCALE=0.333
ESPNET_NOISE_SCALE_DUR=0.333
MAX_TEXT_CHARS=2000
PORT=5003
